<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog-Waffle</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="default.asp">Home</a></li>
          <li><a href="news.asp">Dashboard</a></li>
          <li><a href="contact.asp">Log In / Sign Up</a></li>
        </ul>
      </nav>
    </header>

    <main>{{{ body }}}</main>
  </body>
</html>
