<div class="posts">
{{#each data.posts as |post|}}
<a href="/post/{{post.id}}">
  <div class="eachPost">
    <h1>{{post.title}}</h1>
    <p>{{post.body}}</p>
    <p>Created by: {{post.user.name}}</p>
   
  </div> 
  </a>
{{/each}}
</div>