<div>
  <h2>Login</h2>
  <form>
    <label for="loginEmail">Email:</label>
    <input type="text" name="loginEmail" id="loginEmail" />
    <label for="loginPassword">Password:</label>
    <input type="password" name="loginPassword" id="loginPassword" />
    <button id="loginSubmit">Submit</button>
  </form>
</div>
<div>
  <h2>Sign Up</h2>
  <form>
    <label for="signUpEmail">Email:</label>
    <input type="text" name="signUpEmail" id="signUpEmail" />
    <label for="signUpUsername">Username:</label>
    <input type="text" name="signUpUsername" id="signUpUsername" />
    <label for="signUpPassword">Password:</label>
    <input type="password" name="signUpPassword" id="signUpPassword" />
    <button id="signUpSubmit">Submit</button>
  </form>
</div>
<script src="/js/login.js"></script>