<div class="posts">
  <div class="eachPost">
    <h2>Login</h2>
    <form>
      <label for="loginEmail">Email:</label>
      <input type="text" name="loginEmail" id="loginEmail" />
      <label for="loginPassword">Password:</label>
      <input type="password" name="loginPassword" id="loginPassword" />
      <btn class="button" id="loginSubmit">Submit</btn>
    </form>
  </div>
  <div class="eachPost">
    <h2>Sign Up</h2>
    <form>
      <label for="signUpEmail">Email:</label>
      <input type="text" name="signUpEmail" id="signUpEmail" />
      <label for="signUpUsername">Username:</label>
      <input type="text" name="signUpUsername" id="signUpUsername" />
      <label for="signUpPassword">Password:</label>
      <input type="password" name="signUpPassword" id="signUpPassword" />
      <btn class="button"  id="signUpSubmit">Submit</btn>
    </form>
  </div>
</div>
<script src="/js/login.js"></script>